/*
I demand a pancake color scheme:

dark gray: #594F4F
dark blue: #547980
med green-blue: #45ADA8
light green: #9DE0AD
lightest green: #E5FCC2
*/



body {
    background-color: #45ADA8;
}

.color0Text {
    color: #45ADA8;
    font-weight: bold;
}

.color0Border {
    border-color: #45ADA8;
}

.color2Highlight {
    background: #9DE0AD;
}

.color2Border {
    border-color: #9DE0AD;
}

.color1Highlight {
    background: #E5FCC2;
}

.color1Border {
    border-color: #E5FCC2;
}

#contentwindow {
    background-color: white;
    border-color: #547980;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    font-family: sans-serif;
    color: #594F4F;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 900px;
    box-shadow: 0px 0px 15px #888888;
    position: relative;
}

#arraymysterytitle {
    margin-bottom: 0px;
    text-align: center;
}

#problemcontents {
    width: 450px;
    height: 250px; /* to make sure that the gray divider stays in the right spot.*/
    padding-left: 30px;
    padding-bottom: 30px;
    float: left;
}

#problemtext {
    position: relative;
    bottom: 10px;
}

/*all variable bank input styling*/

#arraydata {
    border: 2px solid darkgray;
    border-collapse: collapse;
}

input {
    width: 26px;
    text-align: center;
}

#arraydata td, #varvalues input {
    padding: 8px;
}

#arraydata input {
    border: none;
    width: 50px;
}

#arraydata input, #varvalues input {
    font-size: 22px;
}

#indices input {
    font-size: 20px;
}

#arraydata input:focus, #varvalues input:focus, #indices input:focus{
    outline: 0;
    box-shadow: 0 0 5px 2px #9DE0AD;
}

#indices {
    font-size: 20px;
}

.varlabel {
    text-align: right;
    margin-bottom: 27px;
}

#arrLabel {
    margin-top: 40px;
}

.arraylabel {
    margin-top: 40px;
}

td {
    width: 50px;
    text-align: center;
    border: 5px solid darkgrey;
}

.varlabelcolumn {
    float: left;
}

.varcolumn {
    float: left;
}

.varlabelcolumn, .varcolumn {
    padding: 10px;
}

.digit {
    width: 40px;
    text-align: center;
    border: 4px solid darkgray;
    padding: 15px;
}

#prompt {
    border: 2px solid #547980;
    border-radius: 10px;
    width: 300px;
    float: right;
    margin: 50px;
    padding-left: 10px;
    height: 150px;
    box-shadow: 0px 0px 15px #888888;
}

h1.problemdescription {
    color: red;
}

hr {
    clear: left;
}

.right {
    background-color: lawngreen;
}

#prompttextbox {
    height: 90px;
    text-align: center;
}

#next, #next1 {
    float: right;
    margin-right: 8px;
}

#next, #next1, #back {
    background: #547980;
    background-image: -webkit-linear-gradient(top, #547980, #45ADA8);
    background-image: -moz-linear-gradient(top, #547980, #45ADA8);
    background-image: -ms-linear-gradient(top, #547980, #45ADA8);
    background-image: -o-linear-gradient(top, #547980, #45ADA8);
    background-image: linear-gradient(to bottom, #547980, #45ADA8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 4px 3px 10px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

#next:hover, #back:hover, #next1:hover {
    background: #9de0ad;
    background-image: -webkit-linear-gradient(top, #9de0ad, #81b38d);
    background-image: -moz-linear-gradient(top, #9de0ad, #81b38d);
    background-image: -ms-linear-gradient(top, #9de0ad, #81b38d);
    background-image: -o-linear-gradient(top, #9de0ad, #81b38d);
    background-image: linear-gradient(to bottom, #9de0ad, #81b38d);
    text-decoration: none;
}

#next:focus, #back:focus, #next1:hover {
    outline: 0;
}

#varvalues div {
    padding-top: 12px;
}

#next1 {
    float: right;
    position: absolute;
    bottom: 0;
    right: 48%;
    margin-bottom: 35px;
}

.littletext {
    font-size: 10px;
    color: gray;
    -webkit-transition: font-size 1s, color 1s;
    -moz-transition: font-size 1s, color 1s;
    -ms-transition: font-size 1s, color 1s;
    -o-transition: font-size 1s, color 1s;
    transition: font-size 1s, color 1s;
}

.bigtext {
    font-size: 17px;
    -webkit-transition: font-size 1s;
    -moz-transition: font-size 1s;
    -ms-transition: font-size 1s;
    -o-transition: font-size 1s;
    transition: font-size 1s;
}

/*
DYNAMIC STYLING CLASSES
The following classes need to remain at the bottom of the file to ensure
the dynamic styling works correctly.
*/
.mainColorText {
    color: #45ADA8;
    font-weight: bold;
}

.mainColorBorder {
    border-color: #45ADA8;
}

.accent2Highlight {
    background: #9DE0AD;
}

.accent2Border {
    border-color: #9DE0AD;
}

.accent1Highlight {
    background: #E5FCC2;
}

.accent1Border {
    border-color: #E5FCC2;
}

.wrong {
    background-color: #DE6363;
}
/* DON'T PUT STUFF BELOW THIS COMMENT!! PLACE ADDITIONAL CODE ABOVE
   DYNAMIC STYLING CLASSES!!
*/

