#contentwindow {
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    font-family: sans-serif;
    color: #594F4F;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#problemcontents {
    width: 450px;
    padding-left: 30px;
    padding-bottom: 30px;
    float: left;
}

.vardata,   {
    font-size: 35px;
    /*border: 2px solid darkgray;*/
    /*border-collapse: collapse;*/
}

#arraydata {
    border: 2px solid darkgray;
    border-collapse: collapse;
}


#indices {
    font-size: 20px;
}

.vardata, .varlabel {
    float: left;
    margin: 20px;
}

td {
    padding: 15px;
    width: 50px;
    text-align: center;
    border: 2px solid darkgrey;
}

.variable {
    clear: left;
}

.digit {
    width: 40px;
    text-align: center;
    border: 2px solid darkgray;
}

#prompt {
    border: 3px solid #547980;
    border-radius: 10px;
    width: 300px;
    float: right;
    margin: 50px;
    padding-left: 10px;
    height: 130px;
}

hr {
    clear: left;
}

.right {
    background-color: lawngreen;
}

.wrong {
    background-color: red;
}


#prompttextbox {
    height: 90px;
}

#next {
    float: right;
    margin-right: 8px;
}