.if_else_problem #ifElseHeader {
    text-align: center;
    font-size: 25px;
}

.if_else_problem #submitButton {
    width: 75px;
    font-size: 14px;
    vertical-align: middle;
}

.if_else_problem #inputBox {
    width: 200px;
    font-size: 16px;
    vertical-align: middle;
}

/* This references animations defined in bootstrap-expressions.css */
.if_else_problem input[type="text"].correct {
    animation-name: correctExpression;
    animation-duration: 2s;
    -webkit-animation-name: correctExpression;
    -webkit-animation-duration: 2s;

}

/* This references animations defined in bootstrap-expressions.css */
.if_else_problem input[type="text"].incorrect {
    animation-name: incorrectExpression;
    animation-duration: 2s;
    -webkit-animation-name: incorrectExpression;
    -webkit-animation-duration: 2s;
}

.if_else_problem #newProblem {
    font-size: 18px;
    vertical-align: middle;

}

.if_else_problem #newProblemContainer {
    padding-top: 30px;
    text-align: center;
}

.if_else_problem .startingStatesOption {
    font-family: monospace;
    font-size: 25px;
}

.if_else_problem #startingStates {
    font-family: monospace;
    font-size: 25px;
}

.if_else_problem #method_call_panel {
    clear: both;
    padding-top: 40px;
}

.if_else_problem div#active_method_call {
    text-align: right;
    width: 47.5%;
    float: left;
    padding-right: 5%;
}

.if_else_problem span#active_method_call_text {
    font-family: monospace;
}

#problem-area.if_else_problem {
    text-align: center;
    font-family: Arial, sans-serif;
}

.if_else_problem #args,  .if_else_problem #answer_box > span, .if_else_problem input[type="text"] {
    font-family: monospace;
}

.if_else_problem .comments {
    color: #ff5900;
}

.if_else_problem #problem_content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px; padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    width: 925px;
}

.if_else_problem #problem_space, .if_else_problem #answer_box {
    border: 5px solid #547980;
    border-radius: 10px;
    background-color: #ffffff;
    width: 725px;
    float: left;
}

.if_else_problem pre {
    background-color: #FFFFFF;
    border: none;
}

.if_else_problem #problem_space ul {
    list-style: none;
    text-align: left;
    padding-left: 0; padding-right: 0;
}

.if_else_problem #problem_space li {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2.5%;
    margin: 0;
    font-size: 11pt;
    overflow: auto;
}

.if_else_problem #answer_box {
    line-height: 300%;
}


.if_else_problem #variable_bank {
    border: 5px solid #547980;
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: 740px;
    width: 180px;
    /*position: fixed;
    top: 44%;
    right: 2.5%;
    width: 15%;
    padding-left: 20px;
    z-index: 1000;*/
}

.if_else_problem #variable_bank #variable_list {
    list-style-type: none;
    font-size: 15pt;
    padding-left: 0px;
}

.if_else_problem #variable_list {
    margin-top: 5px;
}

.if_else_problem .variable_list_item {
    margin-bottom: 15px;
}

.if_else_problem .bank_variable {
    color: black;
}

.if_else_problem .bank_variable_value {
    padding: 3px;
    margin-left: 5px;
}

.if_else_problem .varValue {
    width: 60px;
    text-align: center;
}

.if_else_problem .just_updated_value {
    color: #45ADA8;
}

.if_else_problem #just_updated_explanation {
    font-size: 10pt;
}

.if_else_problem #next-container {
    text-align: center;
    padding-top: 20px;
}

.if_else_problem #nextstep {
    position: relative;
    font-size: 10pt;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.if_else_problem #variable_bank_title {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 15px;
}

.if_else_problem #prompt {
    position: absolute;
    top: 415px;
    border: 2px solid #547980;
    border-radius: 10px;
    width: 250px;
    left: 48%;
    text-align: left;
    padding: 10px;
    background: #FAFFF0;
}

.if_else_problem .yes_no_buttons {
    text-align: center;
}

.if_else_problem .radio {
    display: inline;
    width: 25px;
}

.if_else_problem .block_highlight li {
    background-color: #EEEEEE;
}

.if_else_problem li.highlight{
    background-color: #8fcdca;
}

.if_else_problem span.highlight {
    background-color: #8fcdca;
}

.if_else_problem li.clickable:hover {
    background-color: #8fcdca;
    cursor: pointer;
}

.if_else_problem .select {
    background-color: rgba(69,173,168, 0.65);
    cursor: pointer;
}

.if_else_problem .grey_out {
    color: rgb(155, 149, 149);
}

.if_else_problem .cross_out {
    color: #555555;
    text-decoration: line-through;
}

.if_else_problem .cross_out_able:hover {
    color: #555555;
    text-decoration: line-through;
    cursor: pointer;
}

.if_else_problem .correct {
    animation-name: correct;
    animation-duration: 2s;
}

.if_else_problem @keyframes correct {
                     from {
                         color: green;
                         background: rgb(0, 255, 0);
                         border: solid 2px green;
                     }

                     to {
                         color: black;
                         border: 2px solid #547980;
                         background: rgb(244, 254, 202);
                     }
                 }

.if_else_problem .incorrect {
    animation-name: incorrect;
    animation-duration: 2s;
}

@keyframes incorrect {
    from {
        color: red;
        border: solid 2px green;
        background: rgb(255, 0, 0);
    }

    to {
        color: black;
        border: 2px solid #547980;
        background: rgb(244, 254, 202);
    }
}

.if_else_problem .incorrect_select {
    background-color: red;
}

/*
.if_else_problem button {
    border: 2px solid #84D854;
    color: #84D854;
    width: 52px;
    border-radius: 20px;
    padding: 2px 10px;
    background-color: white;
}
*/

.if_else_problem .content {
    margin-top: 40px;
    background-color: #FAFFF3;
    padding: 0;
}

.if_else_problem #footer, .if_else_problem #title_block {
    background-color: #45ADA8;
    color: #B5F3C4;
}

.if_else_problem #title_block {
    padding: .5em;
}

.if_else_problem #main_title {
    margin: 0;
}

.if_else_problem #footer {
    height: 25px;
}
