/**

 Styles and bootstrap overrides for the csed research project.

 */

h1 {
    font-size: 40px;
    margin-bottom: 40px;
    color: #45ADA8;
}

h1, h2, h3 {
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
}

.navbar-csed {
    background-color: #547980;
    color: #E5FCC2;
}

.dropdown a:hover, .dropdown a:active, .dropdown a:focus {
    background-color:#436166 !important;
    text-decoration: none;
    color:#ffffff !important;
}

.navbar-default .navbar-nav>li>a {
    color:#f5f5f5;
}

.navbar-default .navbar-feedback {
    color:#f5f5f5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.btn-primary {
    background-color: #45ADA8;
    color: #E5FCC2;
}

/* Oh my god this is ugly. We need sass to override this, plz */
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #547980;
}

a {
    cursor: pointer;
}

a:hover.btn-primary, a:active.btn-primary, a:focus.btn-primary {
    background-color:#436166 !important;
    text-decoration: none;
    color:#ffffff !important;
    cursor: pointer;
}

/* for the consent form, so scrolling works */
.modal-body {
    height: 450px;
}
.modal-body .overflow {
    height: 100%;
    overflow-y: auto;
}

.list-group-item.problem-item {
    color: #70782B;
    font-weight: bold;
    text-decoration: underline;
}

/*.problem-item:before {*/
/*    content: "\2610\2003\2610";*/
/*    display: inline-block;*/
/*    text-decoration: none;*/
/*    padding-right: 1rem;*/
/*    color: black;*/
/*    font-weight: bolder;*/
/*}*/

/*.problem-guided-complete:before {*/
/*    content: "\2611";*/
/*}*/

.list-group-item.problem-visited {
    font-weight: normal;
}

.list-group-item:after {
    position: absolute;
    content: "completed on:\2003guided?\2003interactive?";
    right: 1em;
    color: #737373;
    font-weight: bold;
    font-style: italic;
}

.list-group-item.problem-item:after {
    display: inline-block;
    position: absolute;
    content: "\2610\2003\2003\2610";
    right: 1.4em;
    top: 0;
    font-size: 30px;
    text-decoration: none;
    font-style: normal;
}

.list-group-item.problem-item:hover:after {
    display: inline-block;
}

.list-group-item.problem-visited:after {
    content: "\2610\2003\2003\2610";
}

.list-group-item.problem-guided-complete:after {
    content: "\2611\2003\2003\2610";
}

.list-group-item.problem-interactive-complete:after {
    content: "\2610\2003\2003\2611";
}

.list-group-item.problem-guided-complete.problem-interactive-complete:after {
    content: "\2611\2003\2003\2611";
}

#methodCall {
    font-family: monospace;
}
