/*
This is the style sheet for the main page.
*/

body {
    padding: 0px;
    background-color: #FAFFF3;
    margin: 0 0 100px;
    font-family: ‘Lucida Console’, Monaco, monospace;
}

body, h1, .content, .container-fluid, #header, #footer {
    margin: 0px;
}

#header {
    text-align: center;
    padding: 25px;
}

h1 {
    font-weight: bolder;
    font-size: 36pt;
}

#header, #footer {
    background-color: #45ADA8;
    color: #FAFFF3;
    height: 100px;
}

#header {
    margin-top: 40px;
}

.content {
    background-color: #FAFFF3;
    overflow: hidden;
    padding: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    background-color: #B8E0C1;
    border: solid;
    border-radius: 5%;
    border-color: #547980;
    font-size: 20pt;
    float: left;
    overflow: hidden;
    display: inline-block;
    width: 175px;
    height: 100px;
    vertical-align: middle;
    padding: 0;
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}