/*
This provides the stylesheet for expressions
*/

span:hover {
	cursor: pointer;
	background-color: #9DE0AD;
}

.clicked {
	color: #45ADA8;
}

.clicked:hover {
	cursor: auto;
	background-color: white;
}

#pagedescription {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	font-size: 9pt;

	border: 2px solid #547980;
	background-color: white;
	padding: 5px;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	padding: 0px 0px 25px;
	margin: 40px 0px;
	background-color: #FAFFF3;
}

#problem {
	/*border: 2px solid #6FC483;*/
	overflow: hidden;
}

h1 {
	font-size: 40px;
	margin-bottom: 50px;
	color: #547980;
}

#steps {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	margin-top: 50px;
	border: 5px solid #547980;
	border-radius: 10px;
	overflow: hidden;
	padding: 20px;
	margin-bottom: 20px;
	background-color: white;
}

.step {
	clear: both;
	font-size: 14pt;
	text-align: left;
	float: left;
	width: 180pt;
	margin: 0pt;
}

.expressionStatement {
	height: 80px;
}

.exp {
	float: right;
	font-size: 25pt;
	width: 400px;
	text-align: center;
	margin: 0pt;
	vertical-align: text-bottom;
}
#answerbox {
	margin-left: auto;
	margin-right: auto;
}

#box {
	width: 200px;
	margin-bottom: 15px;
}

#answerbox, h1, h2, p {
	text-align: center;
}

h2 {
	margin-bottom: 50px;
	font-size: 25pt;
	margin-top: 50px;
}

.buttons {
	width: 75px;
}

#submit {
	float: left;
}

#nextstep {
	float: right;
}

.buttonLineUp {
	margin-right: 35%;
	margin-left: 50%;
	width: 30%;
	clear:both;
	float:right;
}

.highlight1 {
	color: red;
}

.highlight2 {
	color: green;
}

.highlight3 {
	color: blue;
}

.hiddenSteps {
	display: none;
}

span {
	display: inline-block;
}

.visibleSteps {
	display: block;
}

.prompt {
	clear: both;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}

.finalanswer {
	text-align: center;
	font-size: 32pt;
}

input {
	font-size: 25pt;
	width: 60px;
}

#correct {
	font-size: 20pt;
	margin: 60px;
	clear: both;
}

#error {
	color: darkred;
	clear: both;
}

.operators {
	margin-right: 10px;
	font-size: 16pt;
}
