/*
This provides the stylesheet for expressions
*/

body {
	padding: 0px 0px 25px;
	margin: 0px;
	font-family: trebuchet;
}

h1 {
	font-size: 35px;
}

#steps {
	margin-left: auto;
	margin-right: auto;
	width: 650px;
	padding-bottom: 20px;
}

.step {
	clear: both;
	text-align: left;
	float: left;
	width: 180pt;
}

.exp {
	float: right;
	font-size: 25pt;
	/*width: 350px;*/
}
#answerbox {
	margin-left: auto;
	margin-right: auto;
}

#box {
	width: 200px;
	height: 25px;
	margin-bottom: 15px;
}

#answerbox, h1, h2, p {
	text-align: center;
}

h2 {
	margin-bottom: 50px;
	font-size: 30px;
	margin-top: 50px;
}

.buttons {
	width: 75px;
}

.buttonLineUp {
	margin-right: 35%;
	margin-left: 50%;
}

.highlight1 {
	color: red;
}

.highlight2 {
	color: green;
}

.highlight3 {
	color: blue;
}

.hiddenSteps {
	display: none;
}

.visibleSteps {
	display: block;
}