/*
This provides the stylesheet for expressions
*/

#answerbox, h1, p {
	text-align: center;
}

#box {
	width: 150px;
	height: 50px;
}

.buttons {
	width: 75px;
}

.buttonLineUp {
	display: inline-block;
}

.highlight {
	color: red;
}

.hiddenSteps {
	display: none;
}

.visibleSteps {
	display: block;
}
