.arraytable {
	border-collapse: collapse;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.arraytable td {
	border: 2px solid #777;
}

.arraytable td input[type="text"] {
	margin-left: 30px;
}

.arraytable th {
	color: #777;
}

.assertionpoint {
	font-weight: bold;
	color: #404;
}

.assertiontable td {
	padding-right: 24px;
}

.assertiontable th {
	padding-right: 10px;
}

.attention {
	background-color: #efe;
	border: thin dashed #8f8;
	font-size: smaller;
	margin: 0.5em;
	margin-bottom: 0.2em;
	margin-top: 0.1em;
	padding: 0.25em;
	text-align: center;
}

.compressed {
	font-size: smaller !important;
	line-height: 0.9em;
}

.expression code {
	white-space: nowrap;
}

.expressionarealeft {
	padding-left: 30px !important;
	padding-right: 0px !important;
}

.expressionarealeft.correct, 
.expressionarealeft.almost, 
.expressionarealeft.incorrect {
	background-position: 1% 10% !important;
}

.expressiontable {
	font-size: smaller;
	margin-left: 2em;
}

.expressiontable td, .expressiontable th {
	vertical-align: top;
}

.expressiontable td, label.correct, label.incorrect, label.almost, .expressionarea {
	padding-right: 30px;
}

.expressionanswer {
	font-size: 20px;
}

.expressionsolution, .ignore {
	display: none;
}

.correct {
	background-color: #cfc !important;
}

.almost {
	background-color: #ff9 !important;
}

.incorrect {
	background-color: #fcc !important;
}

.figure img, .figureright img {
	vertical-align: top;
}

.figureright {
	float: right;
	margin-left: 1em;
	margin-bottom: 0.5em;
}

table.linenumbertable {
	font-size: 95%;
}

pre.linenumbers {
	background-color: white;
	border: 1px solid white;
	color: #888;
	margin-right: 0.5em;
}

td.correct,
td.incorrect,
td.almost,
ol label.correct,
ol label.incorrect,
ol label.almost,
.expressionarea.correct, 
.expressionarea.almost, 
.expressionarea.incorrect {
	background-position: 99% 10%;
	background-repeat: no-repeat;
}

td.correct,
ol label.correct,
.expressionarea.correct {
	background-image: url(images/correct.gif) !important;
}

td.incorrect,
ol label.incorrect,
.expressionarea.incorrect {
	background-image: url(images/incorrect.gif) !important;
}

td.almost,
ol label.almost,
.expressionarea.almost {
	background-image: url(images/incorrect.gif) !important;
}

.mcresultimage {
	display: none;
}

ol.mcquestion {
	list-style-type: lower-alpha;
}

.practiceitlink {
	margin-left: 0.5em;
}

.practiceitlink img {
	border: none;
	width: 26px;
	height: 26px;
}

.slide a img.icon {
	border: 0;
}

.slide ol > li {
	margin-top: 0.4em;
}

th, td {
	vertical-align: top;
}

.userinput {
	font-weight: bold;
	text-decoration: underline;
}

