/*
I demand a pancake color scheme:

dark gray: #594F4F
dark blue: #547980
med green-blue: #45ADA8
light green: #9DE0AD
lightest green: #E5FCC2
*/
.problem #difficultyLevel {
    font-size: 20px;
    padding-left: 100px;
}

.problem #ProblemHeader {
    text-align: center;
    font-size: 25px;
}

.problem #submitButton {
    width: 75px;
    font-size: 14px;
    vertical-align: middle;
}

.problem #inputBox {
    width: 200px;
    font-size: 16px;
    vertical-align: middle;
}

.problem input[type="text"].correct {
    background-color: green;
    -webkit-animation-name: correctExpression;
    -webkit-animation-duration: 2s;
    animation-name: correctExpression;
    animation-duration: 2s;

}

@keyframes correctExpression {
    0% {
        background-color: green;
    }
    100% {
        background-color: #FFFFFF;
    }
}

@-webkit-keyframes correctExpression {
    0% {
        background-color: green;
    }
    100% {
        background-color: #FFFFFF;
    }
}

.problem input[type="text"].incorrect {
    background-color: red;
    -webkit-animation-name: incorrectExpression;
    -webkit-animation-duration: 2s;
    animation-name: incorrectExpression;
    animation-duration: 2s;
}

@keyframes incorrectExpression {
    0% {
        background-color: red;
    }
    100% {
        background-color: #FFFFFF;
    }
}

@-webkit-keyframes incorrectExpression {
    0% {
        background-color: red;
    }

    100% {
        background-color: #FFFFFF;
    }
}

.problem input[type="text"].empty {
    background-color: blue;
    -webkit-animation-name: emptyExpression;
    -webkit-animation-duration: 2s;
    animation-name: emptyExpression;
    animation-duration: 2s;

}

@keyframes emptyExpression {
    0% {
        background-color: blue;
    }
    100% {
        background-color: #FFFFFF;
    }
}

@-webkit-keyframes emptyExpression {
    0% {
        background-color: blue;
    }
    100% {
        background-color: #FFFFFF;
    }
}

.problem #description {
    font-size: 16px;
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.problem #newProblem {
    font-size: 18px;
    vertical-align: middle;
}

.problem #newVariant {
    font-size: 18px;
    vertical-align: middle;
}

.problem #newProblemContainer {
    padding-top: 30px;
    text-align: center;
}

.problem #prompt {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #547980;
    border-radius: 10px;
    width: 250px;
    text-align: left;
    padding: 10px;
    background: #FAFFF0;
}

.problem #next-container {
    text-align: center;
    padding-top: 20px;
}

.problem #nextstep {
    position: relative;
    font-size: 10pt;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.problem #problem_content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px; padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.problem #problem_space {
    border: 5px solid #547980;
    border-radius: 10px;
    background-color: #ffffff;
    min-width: 525px;
    padding-bottom: 15px;
}

.problem #problem_space * {
    font-size: 11pt;
}

.problem pre {
    counter-reset: line-number;
    background-color: #FFFFFF;
    border: none;
    text-align: left;
    padding-left: 10px;
}

.java-line {
    display: block;
}

.java-line::before {
    counter-increment: line-number;
    display: inline-block;
    width: 2em;
    color: #777;
    content: counter(line-number);
}

.problem .java-keyword {
    color: black;
}

.problem .java-ident {
    color: blue;
}

.problem .java-literal {
    color: green;
}

.problem .java-method {
    color: purple;
}

.problem .java-reference {
    font-style: italic;
}

.problem #problem_space ul {
    list-style: none;
    text-align: left;
    padding-left: 0; padding-right: 0;
}

.problem #problem_space li {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2.5%;
    margin: 0;
    font-size: 11pt;
    overflow: auto;
}

.problem #workspace {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.problem #scratch_area {
    border: 5px solid #547980;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
}

.problem #scratch_area_title {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 15px;
}

.problem #scratch_list {
    list-style: none;
}
.problem #scratch_list li {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 11pt;
    padding-bottom: 10px;
}

.problem #variable_bank_title {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 15px;
}

.problem #variable_bank #variable_list_table {
    list-style-type: none;
    font-size: 15pt;
    padding-left: 0px;
}

.problem #variable_bank #variable_array_table {
    list-style-type: none;
    font-size: 15pt;
    padding-left: 0px;
}

.problem #variable_bank {
    border: 5px solid #547980;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 15px;
    margin-left: 20px;
    min-width: 400px;
}

.problem #variable_list_table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 15px;

    border-collapse: separate;
}

.problem .variable_list_table_row {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 10px;
}

.problem .bank_variable {
    color: black;
    float: left;
}

.problem .bank_variable_label {
    padding-right: 10px;
    text-align: right;
}

.problem .array_label {
    /* padding-top: 22px; */
    padding-right: 10px;
    text-align: right;
    display: flex;
    display: -webkit-flex;
}

.problem .bank_variable_value {
    padding-top: 20px;
}

.problem .bank_variable_array_index {
    padding: 5px;
    padding-bottom: 0px;
    font-size: 11pt;
    width: 40px;
    /* height:27px; */
}

.problem .bank_variable_array_value {
    padding: 5px;
    border: 3px solid darkgray;
    width: 40px;
}

.problem .varValue {
    width: 60px;
    text-align: center;
}

.problem .arrayVarValue {
    width: 30px;
    text-align: center;
}

.problem .indexVarValue {
    width: 20px;
    text-align: center;
}

.problem .highlight{
    background-color: #8fcdca;
}

.problem .block_highlight {
    background-color: #EEEEEE;
}

.problem .prev_line_highlight{
    background-color: #bce8f1;
}

.problem .line_highlight{
    background-color: #8fcdca;
}

.problem .node_highlight {
    box-shadow: 0px 0px 0px 1px #333333;
    background-color: #d2ebe9;
}

.problem .scratch_node_highlight {
    background-color: #8fcdca;
}

.problem .text_highlight {
    color: #45ADA8;
}

.problem .array_element_highlight {
    background-color: #8fcdca;
}

.problem .clickable:hover {
    background-color: #8fcdca;
    cursor: pointer;
}

.problem .radio {
    display: inline;
    width: 25px;
}

.problem .yes_no_buttons {
    text-align: center;
}





/* OLD STYLES */

.problem body {
    background-color: #45ADA8;
}

.problem .color0Text {
    color: #45ADA8;
    font-weight: bold;
}

.problem .color0Border {
    border-color: #45ADA8;
}

.problem .color2Highlight {
    background: #9DE0AD;
}

.problem .color2Border {
    border-color: #9DE0AD;
}

.problem .color1Highlight {
    background: #E5FCC2;
}

.problem .color1Border {
    border-color: #E5FCC2;
}

.problem #contentwindow {
    background-color: white;
    border-color: #547980;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    font-family: sans-serif;
    color: #594F4F;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 900px;
    box-shadow: 0px 0px 15px #888888;
    position: relative;
}

.problem #arraymysterytitle {
    margin-bottom: 0px;
    text-align: center;
}

.problem #problemcontents {
    width: 450px;
    height: 250px; /* to make sure that the gray divider stays in the right spot.*/
    padding-left: 30px;
    padding-bottom: 30px;
    float: left;
}

.problem #problemtext {
    position: relative;
    bottom: 10px;
}


/*all variable bank input styling*/

.problem #arraydata {
    border: 2px solid darkgray;
    border-collapse: collapse;
}

/*.problem input {
    width: 26px;
    text-align: center;
    background-color:rgba(0, 0, 0, 0);
}*/

.problem #arraydata td, #varvalues input {
    padding: 8px;
}

.problem #arraydata input {
    border: none;
    width: 50px;
}

.problem #arraydata input, #varvalues input {
    font-size: 22px;
}

.problem #indices input {
    font-size: 20px;
}

.problem #arraydata input:focus, #varvalues input:focus, #indices input:focus{
    outline: 0;
    box-shadow: 0 0 5px 2px #9DE0AD;
}

.problem #indices {
    font-size: 20px;
}

.problem .varlabel {
    text-align: right;
    margin-bottom: 27px;
}

.problem #arrLabel {
    margin-top: 70px;
}

.problem .arraylabel {
    margin-top: 40px;
}

.problem .varlabelcolumn {
    float: left;
}

.problem .varcolumn {
    float: left;
}

.problem .varlabelcolumn, .varcolumn {
    padding: 10px;
}

.problem .digit {
    width: 40px;
    text-align: center;
    border: 4px solid darkgray;
    padding: 15px;
}

.problem h1.problemdescription {
    color: red;
}

.problem hr {
    clear: left;
}
.problem #islider {
    margin-left: 36px;
    width: 320px;
}
.problem .right {
    background-color: lawngreen;
}

.problem #next, #next1 {
    float: right;
    margin-right: 8px;
}

.problem #next, #next1, #back {
    background: #547980;
    background-image: -webkit-linear-gradient(top, #547980, #45ADA8);
    background-image: -moz-linear-gradient(top, #547980, #45ADA8);
    background-image: -ms-linear-gradient(top, #547980, #45ADA8);
    background-image: -o-linear-gradient(top, #547980, #45ADA8);
    background-image: linear-gradient(to bottom, #547980, #45ADA8);
    -webkit-border-radius: 28%;
    border-radius: 28px;
    text-shadow: 4px 3px 10px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.problem #next:hover, #back:hover, #next1:hover {
    background: #9de0ad;
    background-image: -webkit-linear-gradient(top, #9de0ad, #81b38d);
    background-image: linear-gradient(to bottom, #9de0ad, #81b38d);
    text-decoration: none;
}

.problem #next:focus, #back:focus, #next1:hover {
    outline: 0;
}

.problem #varvalues div {
    padding-top: 12px;
}

.problem #next1 {
    float: right;
    position: absolute;
    bottom: 0;
    right: 48%;
    margin-bottom: 35px;
}

.problem .littletext {
    font-size: 10px;
    color: gray;
    -webkit-transition: font-size 1s, color 1s;
    -moz-transition: font-size 1s, color 1s;
    -ms-transition: font-size 1s, color 1s;
    -o-transition: font-size 1s, color 1s;
    transition: font-size 1s, color 1s;
}

.problem .bigtext {
    font-size: 17px;
    -webkit-transition: font-size 1s;
    -moz-transition: font-size 1s;
    -ms-transition: font-size 1s;
    -o-transition: font-size 1s;
    transition: font-size 1s;
}

.problem input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}
.problem input[type=range]:focus {
    outline: none;
}
.problem input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #45ADA8;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
.problem input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 25px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
}

.problem input[type=range]:focus::-webkit-slider-runnable-track {
    background: #45ADA8;
}


/*
DYNAMIC STYLING CLASSES
The following classes need to remain at the bottom of the file to ensure
the dynamic styling works correctly.
*/
.problem .mainColorText {
    color: #45ADA8;
    font-weight: bold;
}

.problem .mainColorBorder {
    border-color: #45ADA8;
}

.problem .mainColorBorderRadius {
    border-color: #45ADA8;
    border-radius: 10px;
}

.problem .accent2Highlight {
    background: #9DE0AD;
}

.problem .accent2Border {
    border-color: #9DE0AD;
    border-radius: 10px;
}

.problem .accent1Highlight {
    background: #E5FCC2;
}

.problem .accent1Border {
    border-color: #E5FCC2;
}

.problem .wrong {
    background-color: #DE6363;
}

.problem .ihighlight {
    border: 4px solid dodgerblue;
}

.problem .hidden {
    visibility: hidden;
}

.problem .has_sequence {
    width: 150px;
}

/* DON'T PUT STUFF BELOW THIS COMMENT!! PLACE ADDITIONAL CODE ABOVE
   DYNAMIC STYLING CLASSES!!
*/

